# LLM TOOLS
OPENAI_API_KEY=sk-proj-....
AGENTS_MAX_PLANNER_TOOL_STEPS=5
AGENTS_DEFAULT_LLM_MODEL=gpt-4o-mini

# BBDD LOCAL
DB_NAME=geoagents
DB_USER=geoagents
DB_PASSWORD=geoagents
DB_HOST=127.0.0.1
DB_PORT=5433

# BBDD REMOTA
AGENTS_GIS_DB_ALIAS=gis_remote
AGENTS_GIS_SCHEMA=public
GIS_REMOTE_DB_HOST=mi-servidor.example.com
GIS_REMOTE_DB_PORT=5432
GIS_REMOTE_DB_NAME=mi_bd_gis
GIS_REMOTE_DB_USER=usuario
GIS_REMOTE_DB_PASSWORD=clave
GIS_REMOTE_DB_SSLMODE=require
